.home {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp3160287.jpg&f=1&nofb=1");
    height: 99vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    // justify-content: flex-end;

    .popular-img-wrapper {
        margin: 100px auto;

        img {
            margin: 0 35px;
        }
    }

    img {
        width: 200px;
        height: 350px;
        object-fit: contain;
    }

    button {
        position: absolute;
        left: 90%;
        top: 15%;
    }
}

.favorites-container {
    margin: 5% 10%;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .img-container {
        display: flex;
        justify-content: space-between;

        img {
            width: 200px;
            height: 350px;
            object-fit: contain;
        }
    }
}
