*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.input {
    border-radius: 5px;
    border: 1px solid black;
    width: 250px;
    height: 44.2px;
}

button {
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1.2px solid rgb(0, 89, 255);
    border-radius: 5px;
    height: 44.2px;
}

button:hover {
    background-color: whitesmoke;
}

@keyframes hide {
    to {
        position: absolute;
        opacity: 0;
        left: -9999px;
    }
}