.auth-container {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 100px auto;
    padding: 3%;
    background: rgb(41,203,193);
    background: linear-gradient(90deg, rgba(41,203,193,1) 0%, rgba(76,95,187,1) 52%, rgba(169,127,236,1) 100%); 
    border-radius: 5px;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 250px;
        margin: 0 auto;

        h4 {
            margin-bottom: 10px;
        }

        input {
            margin-bottom: 10px;
        }

        .auth-btn-wrap {
            display: flex;
            width: 100%;

            button {
                flex-grow: 1;
            }

            a {
                flex-grow: 1;
                text-align: center;
                align-self: center;
                color: black;
            }
        }

        p {
            font-size: 12px;
            margin: 10px 0;
        }

        p.error {
            text-align: center;
            background-color: white;
            padding: 5px 10px;
            border-radius: 5px;
            color: red;
        }

        p.error.hide {
            animation: hide 0s 3s forwards;
        }
    }
}

